.sidebar {
    height: 100%;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 10px;
    border-right: 2px solid #e1e7e9;
    white-space: nowrap;
}

.sidebar-hamburger-wrapper {
    height: 70px;
    border-bottom: 2px solid #e1e7e9;
}

.sidebar-hamburger-btn {
    vertical-align: center;
    margin-left: auto;
    padding-top: 10px;
    display: block;
    border: none;
    background: none;
    width: fit-content;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    color: #818181;
    display: block;
}


.sidebar-items a {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.sidebar a:hover {
    color: black;
}

.sidebar-item-component {
    margin-left: 27px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
}
